@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

/// Header
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    .top-bar__logo-box {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 10px;
      .top-bar__logo {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
      .top-bar__descr {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #ffffff;
      }
    }
  }
  .menu-wrapper {
    display: none;
  }
  .navigation__list {
    display: flex;
    gap: 36px;
    .navigation__li {
      .navigation__link {
        display: inline-flex;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
        border-bottom: 3px solid transparent;
        transition: color .3s ease-in-out, border .3s ease-in-out;
        @include hover {
          &:hover {
            color: #fafafa;
          }
        }
        &:active {
          color: #fafafa;
          border-bottom: 3px solid #f1cdb3;
        }
      }
      .navigation__link_active {
        color: #fafafa;
        border-bottom: 3px solid #f1cdb3;
      }
    }
  }
}
/// Main
/// Not-only
.not-only-section {
  position: relative;
  height: 75vw;
  max-height: 908px;
  background-image: radial-gradient(
    100% 215.42% at 0% 0%,
    #5b483a 0%,
    #262425 100%
  );
  .not-only {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 180px);
    padding-top: 180px;
    align-items: center;
    .start-screen {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 460px;
      gap: 42px;
      margin-bottom: 6.6%;
      .start-screen__title {
        width: 310px;
      }
      .start-screen__descr {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
      }
    }
    .start-screen-dog {
      background-image: url("./images/mainDog.webp");
      width: calc(100% - 460px - 24px);
      margin-left: 24px;
      min-width: 350px;
      height: 100%;
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
      background-size: contain;
    }
  }
}
/// About
.main {
  .about {
    min-height: 588px;
    .about-section {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: clamp(20px, 10vw, 120px);
      padding: 79px 20px 100px 20px;
      .about-section__pictures {
        width: calc(100% - 550px);
        min-width: 240px;
        max-width: 300px;
        object-fit: contain;
      }
      .about-section__content {
        display: flex;
        flex-direction: column;
        width: 430px;
        justify-content: start;
        gap: 25px;
        padding: 14px 0;
        .about-section__title {
          max-width: 310px;
        }
      }
    }
  }
  /// Our-friend
  .our-friends-section {
    height: 877px;
    background: #f6f6f6;
    padding: 80px 0 100px 0;
    box-sizing: border-box;
    .our-friends {
      display: flex;
      flex-direction: column;
      align-items: center;
      .our-friends__title {
        width: 400px;
        text-align: center;
      }
      .our-friends__slider {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .slider__pagination {
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          .arrow-left {
            background-image: url("./images/arrow-left.svg");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
          }
          .arrow-right {
            background-image: url("./images/arrow-right.svg");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
          }
        }
        .slider__items {
          display: flex;
          position: relative;
          justify-content: center;
          gap: 90px;
          margin: 60px 0;
          transform: translateX(0px);
          transition: all 0.7s ease-in-out;
          .slider__item {
          }
        }
      }
    }
  }
  /// How-you-can-help
  .you-can-help-section {
    min-height: 611px;
    background: #ffffff;
    padding: 80px 0 100px 0;
    box-sizing: border-box;
    .you-can-help {
      display: flex;
      flex-direction: column;
      align-items: center;
      .you-can-help__title {
        width: 310px;
        text-align: center;
      }
      .you-can-help__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 53px;
        column-gap: 119px;
        padding-top: 60px;
        .you-can-help__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-width: 60px;
          gap: 30px;
          height: 113px;
        }
      }
    }
  }
  .item-icon {
    display: flex;
    width: 60px;
    height: 60px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .item_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .item_food {
    background-image: url("./images/icon-pet-food.svg");
  }
  .item_transport {
    background-image: url("./images/icon-transportation.svg");
  }
  .item_toys {
    background-image: url("./images/icon-toys.svg");
  }
  .item_bowls {
    background-image: url("./images/icon-bowls-and-cups.svg");
  }
  .item_shampoo {
    background-image: url("./images/icon-shampoos.svg");
  }
  .item_vitamins {
    background-image: url("./images/icon-vitamins.svg");
  }
  .item_medic {
    background-image: url("./images/icon-medicines.svg");
  }
  .item_collars {
    background-image: url("./images/icon-collars.svg");
  }
  .item_sleep {
    background-image: url("./images/icon-sleeping-area.svg");
  }
  /// Donation
  .donation-section {
    background: #f6f6f6;
    min-height: 462px;
    .donation {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap-reverse;
      height: 100%;
      gap: 30px;
      padding: 80px 0 99px 0;
      .donation__dog {
        background-image: url("./images/don-dog.webp");
        width: 100%;
        max-width: 505px;
        height: 261px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .donation__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 380px;
        gap: 20px;
        .donation__title {
          width: 300px;
        }
        .donation__bank-name {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 110%;
          letter-spacing: 0.06em;
          color: #545454;
        }
        .donation__bank-card {
          width: 349px;
          background: #f1cdb3;
          border-radius: 9px;
          padding: 10px 15px 10px 59px;
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          display: flex;
          align-items: center;
          letter-spacing: 0.06em;
          color: #545454;
          background-image: url("./images/credit-card.svg");
          background-repeat: no-repeat;
          background-position-y: center;
          background-position-x: 15px;
          transition: all 0.3s ease-in-out;
          box-sizing: border-box;
          @include hover {
            &:hover {
              background-color: #fddcc4;
            }
          }
          &:active {
            background-color: #f1cdb3;
          }
        }
        .donation__legal-info {
          font-family: "Arial";
          font-style: italic;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #b2b2b2;
        }
      }
    }
  }
}
/// Footer
.footer {
  position: relative;
  // min-height: 350px;
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;
  .footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 350px;
    column-gap: clamp(40px, 12.5vw, 160px);
    row-gap: 10px;
    padding-top: 40px;
    box-sizing: border-box;
    .footer-content__questions {
      width: 280px;
      gap: 40px;
    }
    .footer-content__address {
      width: 300px;
      gap: 32px;
    }
    .footer-content__title {
      color: #ffffff;
    }
    .footer-content__item {
      display: flex;
      flex-direction: column;
      padding-bottom: 60px;
      .footer-content__item-link {
        display: flex;
        align-items: center;
        gap: 20px;
        @include hover {
          &:hover {
            .footer-content__icon {
              background-color: #fde3d0;
            }
            .footer-content__text {
              color: #fde3d0;
            }
          }
        }
        &:active {
          .footer-content__icon {
            background-color: #d4a27d;
          }
          .footer-content__text {
            color: #d4a27d;
          }
        }
        .footer-content__icon {
          display: inline-flex;
          background-color: #f1cdb3;
          background-position: center;
          mask-repeat: no-repeat;
          height: 32px;
          min-width: 40px;
          transition: all 0.3s ease-in-out;
        }
        .i_mail {
          mask-image: url("./images/icon-email.svg");
        }
        .i_tel {
          mask-image: url("./images/icon-phone.svg");
        }
        .i_map {
          mask-image: url("./images/icon-marker.svg");
          min-width: 22px;
        }
        .footer-content__text {
          font-family: "Georgia";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #f1cdb3;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .footer-content__dog {
      width: 300px;
      height: 310px;
      background-image: url("./images/footer-dog.webp");
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}
// Slider overflow
.overflow_slider {
  display: flex;
  justify-content: center;
  width: 1140px;
  overflow: hidden;
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .overflow_slider {
    width: 300px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .overflow_slider {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main {
    .overflow_slider {
      width: 650px;
    }
    .our-friends-section {
      .our-friends {
        .our-friends__slider {
          .slider__items {
            gap: 40px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1110px) {
  .main
    .you-can-help-section
    .you-can-help
    .you-can-help__items
    .you-can-help__item {
    min-width: 170px;
  }
}
@media screen and (max-width: 768px) {
  /// Not-only 768
  .not-only-section {
    height: 284vw;
    max-height: 1165px;
    .not-only {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 150px);
      padding-top: 150px;
      .btn__fill {
        margin: 0 auto;
      }
      .start-screen-dog {
        width: 100%;
        margin-left: 0px;
        min-width: 0px;
        min-height: 271px;
        max-height: 593px;
      }
    }
  }
  /// Main 768
  /// About 768
  .main {
    .about {
      .about-section {
        gap: 80px;
        .about-section__pictures {
          width: auto;
        }
        .about-section__content {
          padding: 0px;
        }
      }
    }
    /// Help 768
    .you-can-help-section {
      .you-can-help {
        .you-can-help__items {
          row-gap: 55px;
          column-gap: 60px;
          .you-can-help__item {
            min-width: 170px;
            height: 113px;
          }
        }
      }
    }
    /// Donation 768
    .donation-section {
      .donation {
        gap: 60px;
        padding: 80px 0 99px 0;
      }
    }
  }
  /// Footer 768
  .footer {
    .footer-content {
      column-gap: 57px;
      row-gap: 65px;
      padding-top: 30px;
      .footer-content__address {
        gap: 33px;
      }
      .footer-content__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        padding-right: 2px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  /// Header 720
  body:has(.navigation__active) {
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
  }
  .header {
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      content: "";
      opacity: 0.5;
      transition: 0.4s;
      pointer-events: none;
    }
    &:has(.navigation__active)::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      content: "";
      background: rgb(41, 41, 41);
      opacity: 0.6;
    }
    .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 320px;
      background: #292929;
      transform: translateX(320px);
      transition: 0.4s ease-in-out;
      opacity: 0;
    }
    .navigation__active {
      transform: translateX(0px);
      opacity: 1;
    }
    .navigation__list {
      gap: 40px;
      flex-direction: column;
      align-items: center;
      .navigation__li {
        .navigation__link {
          font-size: 32px;
        }
      }
    }
    .menu-wrapper {
      display: block;
      z-index: 1;
    }
  }
}
@media screen and (max-width: 720px) {
  /// Not-only 720
  .not-only-section {
    height: auto;
    .not-only {
      .start-screen {
        align-items: center;
        padding: 0 26px;
        .start-screen__title {
          text-align: center;
          min-width: 260px;
          width: auto;
        }
        .start-screen__descr {
          text-align: center;
        }
      }
      .start-screen-dog {
        height: 100vw;
        min-height: 271px;
        max-height: 593px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  /// Main 480
  .main {
    /// About
    .about {
      .about-section {
        .about-section__content {
          .about-section__title {
            text-align: center;
          }
        }
      }
    }
    .text {
      text-align: justify;
    }
    /// Our-friends 480
    .our-friends-section {
      height: auto;
      padding: 41px 0 42px;
      .our-friends {
        .our-friends__title {
          max-width: 300px;
          width: auto;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0.06em;
        }
        .our-friends__slider {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .slider__pagination {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-top: -40px;
            margin-bottom: 42px;
            width: 200px;
            gap: 80px;
          }
          .slider__items {
            margin-top: 41px;
          }
        }
      }
    }
    /// Help 480
    .you-can-help-section {
      padding: 42px 0;
      .you-can-help {
        .you-can-help__title {
          width: auto;
          max-width: 250px;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0.06em;
        }
        .you-can-help__items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          padding-top: 42px;
          .you-can-help__item {
            min-width: 130px;
            height: 87px;
            gap: 20px;
            .item-icon {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
    .item_title {
      font-size: 15px;
      line-height: 110%;
    }
    /// Donation 480
    .donation-section {
      .donation {
        gap: 42px;
        padding: 41px 0;
        .donation__dog {
          max-width: 260px;
          height: 135px;
        }
        .donation__content {
          align-items: center;
          .donation__title {
            width: 220px;
            text-align: center;
            font-size: 25px;
          }
          .donation__bank-name {
            line-height: 160%;
            letter-spacing: normal;
          }
          .donation__bank-card {
            width: 281px;
            padding: 13px 15px 13px 59px;
            font-size: 15px;
            line-height: 110%;
          }
          .donation__legal-info {
            text-align: justify;
            padding: 0 10px;
          }
        }
      }
    }
  }
  /// Footer 480
  .footer {
    .footer-content {
      column-gap: 57px;
      row-gap: 40px;
      padding-top: 30px;
      .footer-content__address {
        gap: 39px;
      }
      .footer-content__title {
        padding: 0 20px;
        font-size: 25px;
        text-align: center;
      }
      .footer-content__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        padding-right: 2px;
        &:first-child {
          .footer-content__item-link {
            justify-content: center;
          }
        }
        .footer-content__item-link {
          justify-content: flex-start;
        }
      }
      .footer-content__dog {
        width: 260px;
        height: 270px;
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  /// Header 320
  .header {
    .top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 120px;
      padding: 0 10px;
    }
  }
  /// Not-only 320
  .not-only-section {
    max-height: 1000px;
    .not-only {
      gap: 84px;
      .start-screen {
        padding: 0px;
        .start-screen__title {
          width: 250px;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0.06em;
        }
      }
      .start-screen-dog {
        height: 272px;
      }
    }
  }
  /// Main 320
  .main {
    /// About 320
    .about {
      .about-section {
        gap: 40px;
        padding: 43px 15px 43px 15px;
        .about-section__pictures {
          width: 260px;
        }
        .about-section__content {
          gap: 23px;

          .about-section__title {
            font-size: 25px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.06em;
          }
        }
      }
    }
  }
}
